{% extends "layout.html" %}

{% block content %}
<div class="landing-container">
    <h1 class="title">Shooting Form Analysis of Basketball Players using Machine Learning</h1>
    <div class="main-container">
        <div class="sample-upload">
            <form action="/sample_detection" method="POST">
                <button class="submit-btn" type="submit">
                    Sample Detection
                </button>
            </form>
            <form action="/sample_analysis" method="POST">
                <button class="submit-btn" type="submit">
                    Sample Analysis
                </button>
            </form>
        </div>
        <form action="/basketball_detection" method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" class="upload-input" name="image" />
            <button class="btn" onclick="form.submit()">
                Load Image
            </button>
        </form>
        <form action="/shooting_analysis" method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" class="upload-input" name="video" />
            <button class="btn" onclick="form.submit()">
                Load Video
            </button>
        </form>
    </div>
</div>
{% endblock %}