<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/basketball-icon.jpg" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Basketball Analysis</title>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-title" href="./">
            Home
        </a>
    </nav>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>