{% extends "layout.html" %}

{% block content %}
<h1 class="result-title">Shot Analysis</h1>
<div class="shooting-container">
    <div class="video-container">
        <div class="video-description">
            <div class="stat-name">Analysis</div>
            <div class="stat-name">Trajectory</div>
        </div>
        <img src="{{url_for('video_feed')}}" class="video">
    </div>
    <div class="legend-container">
        <div class="legend">
            <div class="color-legend blue">Blue - Ball in normal state</div>
            <div class="color-legend purple">Purple - Shot in progress</div>
            <div class="color-legend green">Green - It's a hit</div>
            <div class="color-legend red">Red - It's a miss</div>
        </div>
        <div>
            <form action="/result" method="POST">
                <button class="submit-btn" type="submit">
                    View Summary
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}