{% extends "layout.html" %}

{% block content %}
<h1 class="title">Shot detection</h1>
<div class="comparison">
    <div class="image-container">
        <div class="stat-name">Original</div>
        <img src="/static/uploads/{{filename}}" class="upload-image-thumb">
    </div>
    <div class="image-container">
        <div class="stat-name">Detection</div>
        <img src="/static/detections/{{filename}}" class="upload-image-thumb">
    </div>
</div>
<div class="image-stat">
    <div class="stat-container">
        <div class="stat-item">
            <div class="stat-name">Class</div>
            <div class="stat-num">{{ response[0]['class'] }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Confidence</div>
            <div class="stat-num">{{ response[0]['detection_detail']['confidence'] }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Coordinate</div>
            <div class="stat-num">({{ response[0]['detection_detail']['center_coordinate']['x'] }},
                {{ response[0]['detection_detail']['center_coordinate']['y'] }})</div>
        </div>
    </div>
    <div class="stat-container">
        <div class="stat-item">
            <div class="stat-name">Class</div>
            <div class="stat-num">{{ response[1]['class'] }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Confidence</div>
            <div class="stat-num">{{ response[1]['detection_detail']['confidence'] }}</div>
        </div>
        <div class="stat-item">
            <div class="stat-name">Coordinate</div>
            <div class="stat-num">({{ response[1]['detection_detail']['center_coordinate']['x'] }},
                {{ response[1]['detection_detail']['center_coordinate']['y'] }})</div>
        </div>
    </div>
</div>

{% endblock %}